@charset 'utf-8';
.fm-close{
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: .1rem;
    right: .12rem;
    font-size: .3rem;
    overflow: hidden;
    text-align: center;
}
.fm-header {
    width: 100%;
    height: 1.23rem;
    background: #39C893;
    display: flex;
    box-sizing: border-box;
    padding-left: .42rem;
    align-items: center;
    img {
        width: 1.15rem;
        height: 1.15rem;
        margin-right: .28rem;
    }
    ul {
        width: 4.84rem;
        height: 1.15rem;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        padding-top: .18rem;
        li {
            width: 100%;
            height: .34rem;
            overflow: hidden;
            font-size: .33rem;
            color: #048446;
            margin-bottom: .2rem;
        }
        p {
            width: 100%;
            height: .4rem;
            font-size: .26rem;
            overflow: hidden;
            background: #2bb280;
            border-radius: .4rem;
            display: flex;
            align-items: center;
            color: white;
            span {
                color: #edd415;
            }
        }
    }
}

.fm-ss {
    width: 100%;
    height: 1rem;
    display: flex;
    box-sizing: border-box;
    padding-left: .17rem;
    padding-top: 5px;
    input {
        width: 5.96rem;
        font-size: .36rem;
        border: 2px solid #39c894;
        border-radius: 5px;
        box-sizing: border-box;
        padding-left: .18rem;
        outline: none;
        height: .7rem;
        &::-webkit-input-placeholder {
            font-size: .28rem;
            color: #aaa;
            line-height: .7rem;
        }
    }
    button {
        width: 1.28rem;
        height: .7rem;
        background: #39c894;
        font-size: .3rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        outline: none;
        overflow: hidden;
        margin-left: -2px;
    }
}

.sy-line {
    width: 100%;
    height: .18rem;
    background: #f4f4f4;
    border: none;
}

.fm-nav {
    width: 100%;
    height: 4.15rem;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-left: .17rem;
    padding-right: .19rem;
    .nav-top {
        width: 100%;
        height: .75rem;
        border-bottom: 2px #efefef solid;
        display: flex;
        align-content: space-between;
        align-items: center;
        a {
            display: block;
            width: 33%;
            height: .75rem;
            flex-grow: 1;
            li {
                width: 100%;
                height: .75rem;
                font-size: .28rem;
                text-align: center;
                line-height: .75rem;
            }
        }
    }
    .nav-middle {
        width: 100%;
        height: 1.61rem;
        display: flex;
        align-content: space-between;
        align-items: center;
        margin-top: .36rem;
        a {
            display: block;
            width: 25%;
            height: 1.61rem;
            flex-grow: 1;
            li {
               
                width: 100%;
                height: 100%;
                font-size: .28rem;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;
                p{
                    width: 100%;
                    height: .3rem;
                    text-align: center;
                    overflow: hidden;
                }
                 img{
                    width: 1.05rem;
                    height: 1.05rem;
                }
            }
        }
    }
    .nav-bottom{
        display: block;
        margin-top: .4rem;
        width: 100%;
        height: .7rem;
        border: 1px #45cc9a solid;
        border-radius: 5px;
        background: transparent;
        color: #45cc9a;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .28rem;
        overflow: hidden;
    }
}

.fm-tj {
    width: 100%;
    height: 22.64rem;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-top: .3rem;
    padding-left: .18rem;
    padding-right: .18rem;
    padding-bottom: .36rem;
    .sy-text {
        width: 100%;
        height: .42rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border-left: 5px solid #39c893;
        padding-left: .17rem;
        margin-bottom: .32rem;
        .left {
            font-size: .36rem;
            color: #000;
            width: 1.6rem;
            height: 100%;
        }
    }
    .gl-u1 {
        height: 1.79rem;
        border-bottom: 1px solid gainsboro;
    }
    .gl-u2 {
        height: 2.06rem;
        align-items: center;
        border-bottom: 1px solid gainsboro;
    }
    .gl-u3 {
        height: 1.79rem;
        align-items: flex-end;
    }
    .gl-u1,
    .gl-u2,
    .gl-u3 {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        a {
            display: block;
            height: 1.45rem;
            width: 1.9rem;
            img {
                height: 1.45rem;
                width: 1.9rem;
            }
        }
        li {
            width: 5.09rem;
            height: 1.45rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .top {
                width: 100%;
                height: 1rem;
                a {
                    display: block;
                    width: 100%;
                    height: 1rem;
                    font-size: .36rem;
                    color: #000;
                    overflow: hidden;
                }
                ;
            }
            .bottom {
                width: 100%;
                height: .35rem;
                display: flex;
                .img-sj {
                    width: .28rem;
                    height: .28rem;
                }
                .img-z {
                    width: .42rem;
                    height: .28rem;
                }
                .gl-sj {
                    font-size: .28rem;
                    height: 100%;
                    width: 1.7rem;
                    overflow: hidden;
                    color: #000;
                    margin-right: .7rem;
                    margin-left: .2rem;
                }
                .gl-z {
                    font-size: .28rem;
                    height: 100%;
                    width: 1.7rem;
                    overflow: hidden;
                    color: #000;
                    margin-left: .2rem;
                }
            }
        }
    }
    ol {
        width: 100%;
        height: .7rem;
        box-sizing: border-box;
        margin-top: .36rem;
        display: flex;
        a {
            display: block;
            width: 100%;
            li {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid gainsboro;
                p {
                    overflow: hidden;
                    height: .3rem;
                    font-size: .28rem;
                    color: #37ca91;
                    margin-right: .23rem;
                }
                img {
                    width: .28rem;
                    height: .28rem;
                }
            }
        }
    }
}

.sy-bottom {
    width: 100%;
    height: 2.44rem;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-top: .3rem;
    padding-left: .18rem;
    padding-right: .18rem;
    padding-bottom: .36rem;
    font-size: .28rem;
    color: #333;
    text-indent: 2em;
    letter-spacing: 1.5px;
    line-height: .45rem;
    p {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.sy-bottom-nav {
    width: 100%;
    height: 2.34rem;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-top: .3rem;
    padding-left: .53rem;
    padding-right: .41rem;
    position: relative;
    border: 0;
    .top {
        width: 100%;
        height: .32rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: .32rem;
            height: .32rem;
        }
        p {
            font-size: .28rem;
            color: #333;
            margin-left: .13rem;
            overflow: hidden;
        }
    }
    ul {
        width: 100%;
        height: .3rem;
        display: flex;
        justify-content: space-between;
        margin-top: .22rem;
        margin-bottom: .55rem;
        .one {
            color: #37ca91;
        }
        a {
            display: block;
            width: 1rem;
            height: .3rem;
            overflow: hidden;
            font-size: .28rem;
        }
    }
    .footer {
        width: 7.5rem;
        margin-left: -0.53rem;
        height: 1.05rem;
        position: absolute;
        bottom: 0;
        background: #000;
        opacity: .8;
        box-sizing: border-box;
        padding-right: .38rem;
        display: flex;
        align-items: center;
        overflow: hidden;
        .wz {
            width: 3.25rem;
            height: .77rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .top {
                width: 100%;
                height: .32rem;
                color: #eed215;
                font-size: .32rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                overflow: hidden;
            }
            .bottom {
                width: 100%;
                height: .32rem;
                font-size: .32rem;
                color: white;
                overflow: hidden;
            }
        }
        img {
            width: .86rem;
            height: .86rem;
        }
        ul {
            width: .5rem;
            height: 100%;
            margin-right: .31rem;
            position: relative;
            li {
                width: 1rem;
                height: 1rem;
                border-radius: .5rem;
                background: #62d4a9;
                position: absolute;
                top: -0.3rem;
                left: -0.47rem;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                color: white;
                box-sizing: border-box;
                padding-right: .2rem;
                padding-bottom: .2rem;
                font-size: .23rem;
            }
        }
        button {
            width: 1.75rem;
            height: .5rem;
            background: #FEB605;
            color: white;
            border-radius: .5rem;
            text-align: center;
            line-height: .5rem;
            overflow: hidden;
            border: 0;
            outline: none;
            font-size: .24rem;
            margin-left: .4rem;
        }
    }
}

.footer-img {
    width: 100%;
    height: .78rem;
    position: relative;
    border: 0;
    img {
        width: 100%;
        height: .78rem;
        position: absolute;
        border: 0;
    }
}

.top-back {
    width: .94rem;
    height: .94rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    font-size: .28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: .21rem;
    background: white;
    z-index: 10000;
    bottom: 2.5rem;
    .size {
        width: .4rem;
        height: .4rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        p {
            width: .3rem;
            height: 0;
            border-bottom: 1px solid #000;
        }
    }
}