.contact-header {
  width: 100%;
  height: 1.03rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: .16rem;
  padding-right: .18rem; }
  .contact-header .logo {
    width: 2.2rem;
    height: .71rem;
    margin-right: .7rem; }
  .contact-header .header-home {
    width: 1.6rem;
    height: .4rem;
    display: flex;
    font-size: .36rem;
    overflow: hidden;
    color: #000;
    margin-right: 1.58rem; }
  .contact-header ul {
    width: 1.26rem;
    height: .71rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact-header ul li {
      height: 100%;
      width: .65rem;
      font-size: .22rem;
      color: #999;
      display: flex;
      flex-flow: column; }
      .contact-header ul li p {
        overflow: hidden;
        width: 100%;
        height: .24rem; }
      .contact-header ul li img {
        width: .45rem;
        height: .45rem; }

.host-message-padding {
  width: 100%;
  height: 4.48rem;
  display: flex;
  flex-flow: column;
  background: #404040;
  box-sizing: border-box;
  padding-left: .38rem;
  padding-right: .15rem; }
  .host-message-padding ul {
    width: 100%;
    height: 2.44rem;
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-bottom: .39rem;
    padding-top: .33rem;
    justify-content: space-between; }
    .host-message-padding ul li {
      width: 100%;
      height: .6rem;
      display: flex;
      align-items: center; }
      .host-message-padding ul li img {
        width: .6rem;
        height: .6rem; }
      .host-message-padding ul li div {
        width: 6.22rem;
        height: .28rem;
        display: flex;
        justify-content: space-between;
        font-size: .26rem;
        align-items: center; }
        .host-message-padding ul li div a {
          display: block;
          height: 100%;
          width: .9rem;
          overflow: hidden;
          display: flex;
          justify-content: center;
          color: #2c3a35; }
        .host-message-padding ul li div span {
          display: block;
          width: 1.8rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
    .host-message-padding ul p {
      width: 100%;
      height: .82rem;
      display: flex;
      flex-flow: column;
      overflow: hidden;
      line-height: .42rem;
      font-size: .34rem; }

.host-message {
  width: 100%;
  height: 8.9rem;
  display: flex;
  flex-flow: column; }
  .host-message .top {
    width: 100%;
    height: 2.95rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: .35rem;
    padding-top: .2rem;
    padding-left: .2rem;
    padding-right: .2rem;
    background: #f4f4f4; }
    .host-message .top li {
      width: 100%;
      height: .6rem;
      display: flex;
      font-size: .36rem;
      align-items: center;
      justify-content: space-between; }
      .host-message .top li .cancle {
        width: 1.32rem;
        height: .6rem;
        background: #cccccc;
        font-size: .28rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        outline: none;
        border-radius: 10px;
        border: 0; }
      .host-message .top li .send {
        width: 1.32rem;
        height: .6rem;
        background: #39C893;
        font-size: .28rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: white;
        outline: none;
        border-radius: 10px;
        border: 0; }
      .host-message .top li p {
        font-size: .36rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
    .host-message .top .content {
      background: white;
      width: 100%;
      height: 1.65rem;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      padding-left: .2rem;
      padding-top: .2rem; }
      .host-message .top .content p {
        height: .36rem;
        border-left: 5px solid #37c993; }
  .host-message .wz {
    width: 100%;
    height: .85rem;
    box-sizing: border-box;
    border-bottom: 1px solid #adb5bb;
    border-top: 1px solid #adb5bb;
    display: flex; }
    .host-message .wz ul {
      width: 6.45rem;
      height: 100%;
      border-right: 1px solid #adb5bb;
      font-size: .45rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      letter-spacing: .4rem;
      overflow: hidden; }
    .host-message .wz a {
      display: block;
      flex-grow: 1;
      height: 100%;
      font-size: .8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-top: .2rem;
      overflow: hidden; }
  .host-message .keyboard {
    width: 100%;
    height: 5.05rem;
    background: #d2d6da;
    display: flex;
    box-sizing: border-box;
    padding-top: .28rem;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: .1rem; }
    .host-message .keyboard .q {
      width: 100%;
      height: .91rem;
      display: flex;
      justify-content: space-around;
      align-content: space-between; }
      .host-message .keyboard .q li {
        width: .61rem;
        height: 100%;
        background: white;
        font-size: .4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px; }
    .host-message .keyboard .a {
      width: 100%;
      height: .91rem;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      padding-left: .45rem;
      padding-right: .43rem; }
      .host-message .keyboard .a li {
        width: .61rem;
        height: 100%;
        background: white;
        font-size: .36rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px; }
    .host-message .keyboard .z {
      width: 100%;
      height: .91rem;
      display: flex;
      justify-content: space-around;
      align-content: space-between; }
      .host-message .keyboard .z li {
        width: .61rem;
        height: 100%;
        background: white;
        font-size: .36rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px; }
      .host-message .keyboard .z .left {
        width: .91rem;
        background: #adb4bd;
        margin-right: .1rem; }
        .host-message .keyboard .z .left img {
          width: .41rem;
          height: .41rem; }
      .host-message .keyboard .z .delete {
        width: .91rem;
        background: #adb4bd;
        margin-left: .1rem; }
        .host-message .keyboard .z .delete img {
          width: .41rem;
          height: .41rem; }
    .host-message .keyboard .bottom {
      width: 100%;
      height: .91rem;
      display: flex;
      justify-content: space-around; }
      .host-message .keyboard .bottom li {
        height: 100%;
        font-size: .36rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px; }
      .host-message .keyboard .bottom .left {
        width: .86rem;
        background: #adb4bd;
        color: #000; }
      .host-message .keyboard .bottom .global {
        width: .79rem;
        background: #adb4bd; }
        .host-message .keyboard .bottom .global img {
          width: .41rem;
          height: .41rem; }
      .host-message .keyboard .bottom .topic {
        width: .61rem;
        background: white; }
        .host-message .keyboard .bottom .topic img {
          width: .31rem;
          height: .44rem; }
      .host-message .keyboard .bottom .space {
        width: 2.87rem;
        background: white; }
      .host-message .keyboard .bottom .new-line {
        width: 1.75rem;
        background: #adb4bd; }

.footer-img {
  width: 100%;
  height: .78rem;
  position: relative;
  border: 0; }
  .footer-img img {
    width: 100%;
    height: .78rem;
    position: absolute;
    border: 0; }

/*# sourceMappingURL=host.css.map */
