.contact-header {
  width: 100%;
  height: 1.03rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: .16rem;
  padding-right: .18rem; }
  .contact-header .logo {
    width: 2.2rem;
    height: .71rem;
    margin-right: .7rem; }
  .contact-header .header-home {
    width: 1.6rem;
    height: .4rem;
    display: flex;
    font-size: .36rem;
    overflow: hidden;
    color: #000;
    margin-right: 1.58rem; }
  .contact-header ul {
    width: 1.26rem;
    height: .71rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .contact-header ul li {
      height: 100%;
      width: .65rem;
      font-size: .22rem;
      color: #999;
      display: flex;
      flex-flow: column; }
      .contact-header ul li p {
        overflow: hidden;
        width: 100%;
        height: .24rem; }
      .contact-header ul li img {
        width: .45rem;
        height: .45rem; }

.host-message-padding {
  width: 100%;
  height: 15.44rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding-left: .38rem;
  padding-right: .15rem;
  padding-bottom: .3rem; }
  .host-message-padding ul {
    width: 100%;
    height: 2.44rem;
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding-bottom: .39rem;
    padding-top: .33rem;
    justify-content: space-between; }
    .host-message-padding ul li {
      width: 100%;
      height: .6rem;
      display: flex;
      align-items: center; }
      .host-message-padding ul li img {
        width: .6rem;
        height: .6rem; }
      .host-message-padding ul li div {
        width: 6.22rem;
        height: .28rem;
        display: flex;
        justify-content: space-between;
        font-size: .26rem;
        align-items: center; }
        .host-message-padding ul li div a {
          display: block;
          height: 100%;
          width: .9rem;
          overflow: hidden;
          display: flex;
          justify-content: center;
          color: #2c3a35; }
        .host-message-padding ul li div span {
          display: block;
          width: 1.8rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
    .host-message-padding ul p {
      width: 100%;
      height: .82rem;
      display: flex;
      flex-flow: column;
      overflow: hidden;
      line-height: .42rem;
      font-size: .34rem; }
  .host-message-padding .effects-pagination {
    width: 100%;
    height: .82rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .35rem; }
    .host-message-padding .effects-pagination .effects-pagination-prev {
      display: block;
      width: 2.34rem;
      height: 100%;
      background: #39c893;
      font-size: .36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: white; }
    .host-message-padding .effects-pagination .effects-page {
      width: 2.36rem;
      height: 100%;
      font-size: .36rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border: 1px solid #EAEAEA; }
    .host-message-padding .effects-pagination .effects-pagination-next {
      display: block;
      width: 2.34rem;
      height: 100%;
      background: #39c893;
      font-size: .36rem;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: white; }

.sy-line {
  width: 100%;
  height: .18rem;
  background: #f4f4f4;
  border: none; }

.sy-bottom {
  width: 100%;
  height: 2.44rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding-top: .3rem;
  padding-left: .18rem;
  padding-right: .18rem;
  padding-bottom: .36rem;
  font-size: .28rem;
  color: #333;
  text-indent: 2em;
  letter-spacing: 1.5px;
  line-height: .45rem; }
  .sy-bottom p {
    width: 100%;
    height: 100%;
    overflow: hidden; }

.sy-bottom-nav {
  width: 100%;
  height: 2.34rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding-top: .3rem;
  padding-left: .53rem;
  padding-right: .41rem;
  position: relative;
  border: 0; }
  .sy-bottom-nav .top {
    width: 100%;
    height: .32rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sy-bottom-nav .top img {
      width: .32rem;
      height: .32rem; }
    .sy-bottom-nav .top p {
      font-size: .28rem;
      color: #333;
      margin-left: .13rem;
      overflow: hidden; }
  .sy-bottom-nav ul {
    width: 100%;
    height: .3rem;
    display: flex;
    justify-content: space-between;
    margin-top: .22rem;
    margin-bottom: .55rem; }
    .sy-bottom-nav ul .one {
      color: #37ca91; }
    .sy-bottom-nav ul a {
      display: block;
      width: 1rem;
      height: .3rem;
      overflow: hidden;
      font-size: .28rem; }
  .sy-bottom-nav .footer {
    width: 7.5rem;
    margin-left: -0.53rem;
    height: 1.05rem;
    position: absolute;
    bottom: 0;
    background: #000;
    opacity: .8;
    box-sizing: border-box;
    padding-right: .38rem;
    display: flex;
    align-items: center;
    overflow: hidden; }
    .sy-bottom-nav .footer .wz {
      width: 3.25rem;
      height: .77rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between; }
      .sy-bottom-nav .footer .wz .top {
        width: 100%;
        height: .32rem;
        color: #eed215;
        font-size: .32rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden; }
      .sy-bottom-nav .footer .wz .bottom {
        width: 100%;
        height: .32rem;
        font-size: .32rem;
        color: white;
        overflow: hidden; }
    .sy-bottom-nav .footer img {
      width: .86rem;
      height: .86rem; }
    .sy-bottom-nav .footer ul {
      width: .5rem;
      height: 100%;
      margin-right: .31rem;
      position: relative; }
      .sy-bottom-nav .footer ul li {
        width: 1rem;
        height: 1rem;
        border-radius: .5rem;
        background: #62d4a9;
        position: absolute;
        top: -0.3rem;
        left: -0.47rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: white;
        box-sizing: border-box;
        padding-right: .2rem;
        padding-bottom: .2rem;
        font-size: .23rem; }
    .sy-bottom-nav .footer button {
      width: 1.75rem;
      height: .5rem;
      background: #FEB605;
      color: white;
      border-radius: .5rem;
      text-align: center;
      line-height: .5rem;
      overflow: hidden;
      border: 0;
      outline: none;
      font-size: .24rem;
      margin-left: .4rem; }

.footer-img {
  width: 100%;
  height: .78rem;
  position: relative;
  border: 0; }
  .footer-img img {
    width: 100%;
    height: .78rem;
    position: absolute;
    border: 0; }

.top-back {
  width: .94rem;
  height: .94rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  font-size: .28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: .21rem;
  background: white;
  z-index: 10000;
  bottom: 2.5rem; }
  .top-back .size {
    width: .4rem;
    height: .4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .top-back .size p {
      width: .3rem;
      height: 0;
      border-bottom: 1px solid #000; }

/*# sourceMappingURL=sixteen.css.map */
